


.nav {
  position: scroll;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(12, 12, 12,0.9);
  
  font-size: 1rem;

  overflow: hidden;
}




.list {

  display: flex;
  justify-content: flex-end;
}

p{
  padding: .5rem 1rem;
  margin-right: 1rem;
}

.list p:hover {
  background-color: rgba(251, 255, 176,0.4);  
  transition: .5s;
}